<div class="nav">
    <div>
        <a href="/blog" class="nav__item">
            Blog
        </a>

        <a class="info__contact nav__item" href="https://contact.do/d7h7" aria-label="contact">
            Contact
        </a>
    </div>
</div>