---
layout: _page.njk
---

<aside class="page__signature">

    {% set signatureClass ="signature" %}
    {% include "signature.njk" %}

</aside>

<div class="single-page">

    {% include "breadcrumb.njk" %}

    {{ content | safe }}

</div>