---
layout: _page.njk
---

<aside class="page__signature">

    {% set signatureClass ="signature" %}
    {% include "signature.njk" %}

</aside>

{% include "breadcrumb.njk" %}

<div class="content-block page__content-block">

    {{ content | safe }}

</div>