---
layout: _page-single.njk
eleventyNavigation: 
    key: post
    parent: blog
---

{% set navPages = collections.all | eleventyNavigationBreadcrumb('post') %}
{% include "breadcrumb.njk" %}

{% if date %} 
    <time class="post-date"> 
        {{ page.date.toDateString() }}
    </time>
{% endif %} 

<article class="blog">

    {{ content | safe }}

</article>