---
layout: _page.njk
---

<div class="page__signature">

    {% set signatureClass ="signature" %}
    {% include "signature.njk" %}
    
</div>

<div class="single-page">

    {% include "breadcrumb.njk" %}

    {{ content | safe }}

</div>