
<nav role="navigation" aria-label="Breadcrumb" class="content-block page__breadcrumb">

    <ol class="breadcrumb-list">

        {% for entry in navPages %}
        
            <li class="breadcrumb-list__item">
                <a href={{entry.url | url}} class="breadcrumb-list__link">
                    {{ entry.title }}
                </a>
            </li>

        {% endfor %}

        <li class="breadcrumb-list__item">
            <a href="#" aria-current="page" tabindex="-1" class="breadcrumb-list__item_last">
                {% set fileSlug = page.fileSlug %}
                
                {% if fileSlug.length > 5 %}
                    {{ ['<span class="ellipsis">', fileSlug.slice(0, 5), '</span>', '<span class="visually-hidden">', fileSlug.slice(5), '</span>'].join('') | safe }}
                {% else %} 
                    {{ fileSlug }}
                {% endif %}
            </a>
        </li>

    </ol>

</nav>