
<nav role="navigation" aria-label="Breadcrumb" class="content-block page__breadcrumb">

    <ol class="breadcrumb-list">

        {% for entry in navPages %}

            <li class="breadcrumb-list__item">
                {% if loop.last %}
                    <a href="#" aria-current="page" tabindex="-1" class="breadcrumb-list__item_last">
                        {% set pageTitle = title %}
                        
                        {% if pageTitle.length > site.maxTitleLength %}
                            {{ ['<span class="ellipsis">', pageTitle.slice(0, site.maxTitleLength), '</span>', '<span class="visually-hidden">', pageTitle.slice(site.maxTitleLength), '</span>'].join('') | safe }}
                        {% else %} 
                            {{ pageTitle }}
                        {% endif %}
                    </a>
                {% else %}      
                    <a href={{entry.url | url}} class="breadcrumb-list__link">
                        {{ entry.title }}
                    </a>
                {% endif %}
            </li>

        {% endfor %}

    </ol>

</nav>