
<nav role="navigation" aria-label="Breadcrumb" class="content-block page__breadcrumb">

    <ol class="breadcrumb-list">

        <li class="breadcrumb-list__item">
            <a href="/" class="breadcrumb-list__link">
                Home 
            </a>
        </li>

        {% for path in page.url.slice(1, -1).split('/') %}
        
            <li class="breadcrumb-list__item">

                {% if loop.last %}

                    <a href="#" aria-current="page" tabindex="-1" class="breadcrumb-list__item_last">
                        {% if  path.length > 10 %}
                            {{  path.slice(0, 10) }}...
                        {% else %} 
                            {{ path }}
                        {% endif %}
                    </a>

                {% else %}

                    <a href="{{ page.url.slice(0, page.url.indexOf('/' + path + '/')) + '/' + path + '/' }}" class="breadcrumb-list__link">
                        {{  path }}
                    </a>

                {% endif %}

            </li>

        {% endfor %}

    </ol>

</nav>