    <footer class="info" role="contentinfo">
    
        {% if page.url == '/' %}   
        
            <p class="info__project">Currently building <a class="cta-secondary"
                href="{{site.currentProjectLink | url}}">{{site.currentProjectName}}</a>
            for {{site.currentProjectTarget}}</p>
                    
            {% set signatureClass ="signature" %}
            {% include "signature.njk" %}
                
        {% else %}

            {% include "nav-main.njk" %}        

        {% endif %}

    </footer>

</body>

</html>