    
    {% if page.url == '/' %}   

        <footer class="info" role="contentinfo">

            <p class="info__project">Currently building <a class="cta-secondary"
                href="https://branding.toheeb.com">branding</a>
            for entrepreneurs</p>
                    
            {% set signatureClass ="signature" %}
            {% include "signature.njk" %}
            
        </footer>
        
    {% endif %}

</body>

</html>