<nav role="navigation" aria-label="Main Navigation" class="main-nav">
    <ul class="main-nav__list">
        <li class="main-nav__list-item"><a class="main-nav__link" href="">Home</a></li>
        <li class="main-nav__list-item"><a class="main-nav__link" href="">Blog</a></li>
        <li class="main-nav__list-item"><a class="main-nav__link" href="">Tools</a></li>
        <li class="main-nav__list-item"><a class="main-nav__link" href="">Subscribe</a></li>
        <li class="main-nav__list-item"><a class="main-nav__link" href="">Get in touch</a></li>
    </ul>
</nav>