<ul class="article-list">

    {% for post in collections.post | reverse %}
        <li class="article-list__item">
            <a href="{{ post.url }}" class="article-list__item-link">
                {{ post.data.title }}
            </a>
        </li>
    {% endfor %}

</ul>