/***********************************
************************************
L A Y O U T
************************************
- Page
- Title
- subject
- prep
- object-product
- object-design

************************************
************************************/
.html {
  height: 100%;
}

.page {
  margin: 0;

  min-height: 100%;
  
  display: -webkit-flex;  
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: space-between; */

  color: #455452;
  font: 1rem/1.8 -apple-system, BlinkMacSystemFont, Ubuntu, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  background: #fdfffe;
}

.page__title {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;

  margin: auto;
}

.page__title-subject {
  text-indent: 1vmin;
  margin: 0 0 4vmin 0;
}

.page__title-prep {
  text-indent: 1.2vmin;
  margin: 0 0 2vmin 0;
}

.page__title-object-product {
  animation: slideProduct 0.5s 2s;
}

.page__title-object-design {
  animation: slideDesign 0.5s 2s;
}


@keyframes slideProduct {
  0% {
    transform: translate(-200%);
  }

  23% {
    transform: translate(50%);
  }

  46% {
    transform: translate(-12%);
  }

  69% {
    transform: translate(3%);
  }

  92% {
    transform: translate(-1%);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes slideDesign {
  0% {
    transform: translate(200%);
  }

  23% {
    transform: translate(-50%);
  }

  46% {
    transform: translate(12%);
  }

  69% {
    transform: translate(-3%);
  }

  92% {
    transform: translate(1%);
  }

  100% {
    transform: translate(0);
  }
}

.main-content {
  margin: auto;
  width: 100%;
}

.post-date {
  background: #eeb00f;
  color: #3a2b05;
  font-size: 12px;
  display: inline-flex;
  padding: 0 3rem 0 0.75rem;
  margin-bottom: 1rem;
  position: relative;
}

.post-date::after {
  content: '';
  position: absolute;
  right: 0;
  border-left: 3rem solid transparent;
  border-top: 2rem solid white;
}

.content-block {
  width: 100%;
  max-width: 540px;
  padding: 0;
  box-sizing: border-box;
}

.page__content-block {
  margin: 0rem auto 10rem;
  padding:0 1.5rem;
}


/***********************************
************************************
S T R U C T U R E
************************************
- Title
  - subject
  - prep
  - object-product
  - object-design
- Info
  - info-project
- CTA-secondary

************************************
************************************/
.title {
  display: -webkit-flex;  
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;

  padding: 2rem;
  margin: 0 0 1rem 0;
}

.title__subject {
  font: 500 1.2rem/1  sans-serif;
  font-family: inherit;
  color: #be0eeb;

  position: relative;

  text-decoration: none;
  display: inline;
}

.title__subject:focus:after,
.title__subject:hover:after {
  content: 'Contact';
  position: absolute;
  top: -1.5rem;
  left: 0;
  font: normal 0.875rem/1.8 sans-serif;
  font-family: inherit;
  text-indent: 0;
  color: #45877c;
}

.title__subject::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: #ff0eeb;
  position: absolute;
  bottom: 0.5rem;
  left: -1rem
}

.title__prep {
  font: 0.875rem/1 sans-serif;
  font-family: inherit;
}

.title__object-product {
  font: normal 900 18vmin/1 -apple-system, BlinkMacSystemFont, Ubuntu, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', 'Trebuchet MS', sans-serif;

  -webkit-text-stroke: 1px #ff0eeb;
  -webkit-text-fill-color: transparent;

  position: relative;

  display: block;
}

.title__object-product:before {
  content: "P";
  position: absolute;
  bottom: 0;
  left: -8%;
  opacity: 0.1;
}

.title__object-product:after {
  content: "P";
  position: absolute;
  bottom: 0;
  left: -16%;
  opacity: 0.05;
}

.title__object-design {
  font: normal 900 18vmin/1 -apple-system, BlinkMacSystemFont, Ubuntu, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  color: #45877c;

  display: block;
}

.title__object-design_step {
  font-size: 8vmin;
  position: relative;
  /* left: -1.8vmin; */
}

.title__object-design_step:after {
  content: 't';
  opacity: 0.05;
  position: relative;
  left: -2vmin;
}

.info {
  /* padding: 3vm 5vm;
  padding: 3vmin 5vmin; */
  padding: 1rem 1rem 1rem 1.5rem;
  margin-top: auto;
  
  display: -webkit-flex;  
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.info__project {
  font: 1rem/1.5 sans-serif;
  font-family: inherit;
  margin: 0;
  padding: 0 1rem 0 0;
}

.cta-secondary {
  color: #be0eeb;
  text-decoration: none;
  border-bottom: 1px solid #eeb00f;
  padding-bottom: 0.2rem;
  position: relative;
  outline-color: #ff0eeb;
}

.cta-secondary:hover {
  color: #ff0eeb;
  border-bottom-width: 4px;
  top: -0.5rem;
  padding-bottom: 0.5rem;
}


.signature_bg {
  position: absolute;
  z-index: -100;
  width: 100vmin;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /* opacity: 0.015; */
}


.page__signature {
  height: 0;
  overflow: visible;
  align-self: flex-end;
  position: sticky;
  top: calc(100vh - 72px - 1rem);
  right: 1rem;
  z-index: -1;
}

.signature {
  filter: drop-shadow(1px 1px 1px #455452);

}

.signature .signature__name,
.signature .signature__spikes {
  fill: rgb(253, 254, 255);
}

.signature .signature__flourish {
  stroke: rgb(253, 254, 255);
}

.signature .signature__guides {
  display: none;
}

.signature_bg .signature__flourish {
  stroke: #fefaff;
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  animation: dash 30s 5s linear alternate infinite;
}

.signature_bg .signature__name {
  fill: #fefaff;
}

.signature_bg .signature__spikes {
  fill: #f7f1f9;
}

.signature_bg .signature__circle-guide {
  stroke: hsl(285, 100%, 98%);
}

.signature_bg .signature__line-guide {
  stroke: #faebff;
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
  animation: dash 5s linear alternate infinite;
}

.signature_bg .signature__line-guide_2 {
  animation-delay: 1s;
}
.signature_bg .signature__line-guide_3 {
  animation-delay: 2s;
}
.signature_bg .signature__line-guide_4 {
  animation-delay: 3s;
}
.signature_bg .signature__line-guide_5 {
  animation-delay: 4s;
}
.signature_bg .signature__line-guide_6 {
  animation-delay: 5s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


:root {
  --int: 1.5;
  --scale0: 1rem;
  --scale-1: calc(var(--scale0) / var(--int));
  --scale-2: calc(var(--scale-1) / var(--int));
  --scale1: calc(var(--scale0) * var(--int));
  --scale2: calc(var(--scale1) * var(--int));
  --scale3: calc(var(--scale2) * var(--int));
  --scale4: calc(var(--scale3) * var(--int));
  --scale5: calc(var(--scale4) * var(--int));
  --scale6: calc(var(--scale5) * var(--int));
}

::marker {
  color: #eeb00f;
}


.page__breadcrumb {
  position: sticky;
  top: 0;
  z-index: 10;
  margin: 1rem auto 4rem;
  /* padding: 0 1.5rem; */
}

.breadcrumb-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;

  background-color: rgb(253, 254, 255);
}

.breadcrumb-list__item {
  border-bottom: 1px solid rgba(238, 176, 15, 0.3);
}

.breadcrumb-list__item:after {
  content: '\000bb';
  padding: 0 0.4rem;
  color: #bbe;
  font-family: serif;
}

.breadcrumb-list__item:last-child:after {
  content: '';
  padding: 0;
}

.breadcrumb-list__item_last {
  text-decoration: none;
  outline: 0;
  cursor: initial;
  color: #968caa;

  position: relative;
  padding-right: 0.5rem;
}

.breadcrumb-list__item_last:after {
  content: '\02935';
  
  position: absolute;
  top: 0.3em;
  right: -1rem;
}

.breadcrumb-list__link {
  text-decoration: none;
  text-transform: capitalize;
  color: #be0eeb;
  outline-color: #ff0eeb;
  padding: 0.4rem 0;
  border-bottom: 0 solid #eeb00f;
  position: relative;
  top: 0;
  transition: all 0.2s;
}

.breadcrumb-list__link:hover {
  color: #ee0eeb;
  top: -8px;
  padding-bottom: 10px;
  border-bottom-width: 4px;
}



.breadcrumb__link {
  text-decoration: none;
  color: #be0eeb;
  padding: 0.4rem 0;
  border-bottom: 0 solid red;
  position: relative;
  top: 0;
  transition: all 0.2s;
}

.breadcrumb__link:hover {
  color: #ee0eeb;
  top: -8px;
  padding-bottom: 10px;
  border-bottom-width: 4px;
}


.description {
  display: flex;
  
  flex-flow: column nowrap;
}

.page__description {
  margin: 0 3rem 3rem;
}

.description__part {
  margin: 0 0 0.5rem 0;
  position: relative;
}

.description__part::before {
  content: '\02591';
  position: absolute;
  left: -1.2rem;
  color: #45877c;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
}

.ellipsis:after {
  content: '...';
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
}

.main-nav__link {
  text-decoration: none;
  margin: 0 0.75rem;
  color: #7a718c;
  font-size: .875rem;
  text-transform: capitalize;
  outline-color: #ff0eeb;
}

.main-nav__link:hover {
  color: #be0eeb;
  border-bottom: 1px solid #eeb00f;
}

.heroicon {
  vertical-align: middle;
}

.blog h1, 
.h1 {
  margin: 0 auto 2rem;
  line-height: 1.3;
  font-weight: 900;
  font-size: var(--scale3);
  color: #45877c;
}

.blog h2 {
  margin: 3rem auto 1rem;
  font-size: var(--scale2);
  line-height: 1.4;
  color: #45877c;
}

.blog h3 {
  margin: 3rem auto 1rem;
  font-size: var(--scale1);
  line-height: 1.4;
  color: #45877c;
}

.blog p, 
.blog ul,
.blog ol,
.blog dl {
  margin: 0 auto 1.5rem;
}

.blog a {
  color: #be0eeb;
  text-decoration: none;
  border-bottom: 1px solid #eeb00f;
  padding-bottom: 0.2rem;
  outline-color: #ff0eeb;

  position: relative;
  top: 0;
  transition: all 0.1s;
}

.blog a:hover {
  color: #ff0eeb;
  border-bottom-width: 4px;
  top: -0.5rem;
  padding-bottom: 0.5rem;
}

.blog-nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  align-items: start;
}

.blog-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
}

.blog-footer {
  display: flex;
}


.social-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

.social-menu-list__item {
  padding: 0.75rem;
  display: inline-flex;
}




.home-link {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  text-decoration: none;
  color: #668;
}

.home-link__icon {
  margin-right: 0.5rem;
}



.top-link {
  display: flex;
  margin: 0 auto 6rem;
  flex-flow: column nowrap;
  align-items: center;
  text-decoration: none;
  color: #be0eeb;
}

.top-link__icon {
  vertical-align: middle;
  margin-bottom: 1rem;
}

.top-link:before {
  content: '\02191';
  font-size: var(--scale3);
  line-height: 1;
  font-family: serif;
  margin-bottom: 1rem;
  transition: all 0.8s;
  position: relative;
  top: 0;
}

.top-link:hover {
  color: #ee01aa;
}

.top-link:hover:before {
  position: relative;
  top: -1rem;
} 

.article-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.article-list__icon {
  color: #bbe;
  margin-right: 0.25rem;
}

.article-list__item-link {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: hsl(170 15% 30% / 1);
  transition: all 0.5s;
  outline-color: #ff0eeb;
}

.article-list__item-link:before {
  content: '\0203a';
  padding: 0 0.5rem 0 0.25rem;
  color: #bbeebb;
  font-family: serif;
}

.article-list__item-link:hover {
  color: #ff0eeb;
  padding-left: 1rem;
}

.article-list__item-link:hover::before {
  content: '\000bb';
  color: #bbe;
}

.article-list__item {
  border-top: 1px solid rgba(238, 176, 15, 0.2);
}

.article-list__item:last-child {
  border-bottom: 1px solid rgba(238, 176, 15, 0.2);
}

@media (min-width: 640px) {
  .description {
    flex-direction: row;
    justify-content: center;
  }

  .description__part {
    margin: 0 1.5rem;
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  html .blog { font-size: 112.5% }

  .title {
    margin-bottom: 4vmin;
  }
}

@media (min-width: 1024px) {
  .title__subject {
    font-size: var(--scale1);
  }

  /* .main-content {
    width: 100%;
  } */

  .description {
    margin: auto;
    flex-direction: row;
  }

  .description__part {
    margin: 0 1rem 0.5rem 4rem;
  }

  

}


@media (min-width: 1920px) {

  /* 
   * Restrain the max width of the page 
   * By so doing, page scanning is easier for readability. 
   * Eyes can easily travel back to the beginning of the next content.
   * 
   */

  .page {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }


  /* 
   * Contraint variable font-size.
   *
   * If not, they become so big that others become too small.
   */

  .title__object-product,
  .title__object-design {
    font-size: var(--scale6);
  }

}