/***********************************
************************************
L A Y O U T
************************************
- Page
- Title
- subject
- prep
- object-product
- object-design

************************************
************************************/
.html {
  height: 100%;
}

.page {
  margin: 0;

  min-height: 100%;
  
  display: -webkit-flex;  
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;

  color: #1a202c;
}

.page__title {
  margin: auto;
  transform: translate(2vmin, -2vmin);
}

.page__title-subject {
  text-indent: 1vmin;
  margin: 0 0 4vmin 0;
}

.page__title-prep {
  text-indent: 1.2vmin;
  margin: 0 0 1.5vmin 0;
}

.page__title-object-product {
  animation: slideProduct 0.5s 2s;
}

.page__title-object-design {
  animation: slideDesign 0.5s 2s;
}


@keyframes slideProduct {
  0% {
    transform: translate(-200%);
  }

  23% {
    transform: translate(50%);
  }

  46% {
    transform: translate(-12%);
  }

  69% {
    transform: translate(3%);
  }

  92% {
    transform: translate(-1%);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes slideDesign {
  0% {
    transform: translate(200%);
  }

  23% {
    transform: translate(-50%);
  }

  46% {
    transform: translate(12%);
  }

  69% {
    transform: translate(-3%);
  }

  92% {
    transform: translate(1%);
  }

  100% {
    transform: translate(0);
  }
}


/***********************************
************************************
S T R U C T U R E
************************************
- Title
  - subject
  - prep
  - object-product
  - object-design
- Info
  - info-project
- CTA-secondary

************************************
************************************/
.title {
  display: -webkit-flex;  
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
}

.title__subject {
  font: normal 1.2rem/1 'Trebuchet MS', sans-serif;

  position: relative;
}

.title__subject::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: #cc0088;
  position: absolute;
  bottom: 4px;
  left: -0.75rem
}

.title__prep {
  font: 0.875rem/1 'Trebuchet MS', sans-serif;
}

.title__object-product {
  font: normal 900 18vmin/1 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Trebuchet MS', sans-serif;

  -webkit-text-stroke: 1px #1a202c;
  -webkit-text-fill-color: transparent;

  position: relative;
}

.title__object-product:before {
  content: "P";
  position: absolute;
  bottom: 0;
  left: -8%;
  opacity: 0.1;
}

.title__object-product:after {
  content: "P";
  position: absolute;
  bottom: 0;
  left: -16%;
  opacity: 0.05;
}

.title__object-design {
  font: normal 900 18vmin/1 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Trebuchet MS', sans-serif;
}

.title__object-design:before {
  content: "n";
  position: absolute;
  right: 6%;
  opacity: 0.05;
}

.title__object-design:after {
  content: "n";
  position: absolute;
  right: 0;
  opacity: 0.02;
}

.info {
  padding: 3vm 5vm;
  padding: 3vmin 5vmin;
  
  display: -webkit-flex;  
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.info__project {
  font: 1rem/1.5 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0 1rem 0 0;
}

.cta-secondary {
  color: #cc0088;
  font-weight: bold;
}
