/***********************************
************************************
L A Y O U T
************************************
- Page
- Title
- subject
- prep
- object-product
- object-design

************************************
************************************/
.html {
  height: 100%;
}

.page {
  margin: 0;

  min-height: 100%;
  
  display: -webkit-flex;  
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;

  color: #345;
  font: 1rem/1.5 -apple-system, BlinkMacSystemFont, Ubuntu, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  background: rgb(253, 254, 255);
}

.page__title {
  margin: auto;
  transform: translate(2vmin, -2vmin);
}

.page__title-subject {
  text-indent: 1vmin;
  margin: 0 0 4vmin 0;
}

.page__title-prep {
  text-indent: 1.2vmin;
  margin: 0 0 2vmin 0;
}

.page__title-object-product {
  animation: slideProduct 0.5s 2s;
}

.page__title-object-design {
  animation: slideDesign 0.5s 2s;
}


@keyframes slideProduct {
  0% {
    transform: translate(-200%);
  }

  23% {
    transform: translate(50%);
  }

  46% {
    transform: translate(-12%);
  }

  69% {
    transform: translate(3%);
  }

  92% {
    transform: translate(-1%);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes slideDesign {
  0% {
    transform: translate(200%);
  }

  23% {
    transform: translate(-50%);
  }

  46% {
    transform: translate(12%);
  }

  69% {
    transform: translate(-3%);
  }

  92% {
    transform: translate(1%);
  }

  100% {
    transform: translate(0);
  }
}


/***********************************
************************************
S T R U C T U R E
************************************
- Title
  - subject
  - prep
  - object-product
  - object-design
- Info
  - info-project
- CTA-secondary

************************************
************************************/
.title {
  display: -webkit-flex;  
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
}

.title__subject {
  font: normal 1.2rem/1  sans-serif;
  font-family: inherit;

  position: relative;
}

.title__subject::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: #ff01aa;
  position: absolute;
  bottom: 4px;
  left: -0.75rem
}

.title__prep {
  font: 0.875rem/1 sans-serif;
  font-family: inherit;
}

.title__object-product {
  font: normal 900 18vmin/1 -apple-system, BlinkMacSystemFont, Ubuntu, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', 'Trebuchet MS', sans-serif;

  -webkit-text-stroke: 1px #ff01aa;
  -webkit-text-fill-color: transparent;

  position: relative;
}

.title__object-product:before {
  content: "P";
  position: absolute;
  bottom: 0;
  left: -8%;
  opacity: 0.1;
}

.title__object-product:after {
  content: "P";
  position: absolute;
  bottom: 0;
  left: -16%;
  opacity: 0.05;
}

.title__object-design {
  font: normal 900 18vmin/1 -apple-system, BlinkMacSystemFont, Ubuntu, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  color: #456;
}

.title__object-design:before {
  content: "n";
  position: absolute;
  right: 6%;
  opacity: 0.05;
}

.title__object-design:after {
  content: "n";
  position: absolute;
  right: 0;
  opacity: 0.02;
}

.info {
  /* padding: 3vm 5vm;
  padding: 3vmin 5vmin; */
  padding: 1rem;
  
  display: -webkit-flex;  
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info__project {
  font: 1rem/1.5 sans-serif;
  font-family: inherit;
  margin: 0;
  padding: 0 1rem 0 0;
}

.cta-secondary {
  color: #ff01aa;
  font-weight: bold;
}


.nav {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1.5rem;
}

.nav__item {
  margin-left: 1rem;
  text-decoration: none;
  color: #456;
}

/* .signature__guides {
  display: none;
} */

.page__signature {
  margin-right: 1rem;
}

.signature_as-bg {
  position: absolute;
  z-index: -100;
  width: 100vmin;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.015;
}


.signature {
  filter: drop-shadow(1px 1px 1px rgba(68,65, 102));
}

.signature__name,
.signature__spikes {
  fill: rgb(253, 254, 255);
}

.signature__flourish {
  stroke: rgb(253, 254, 255);
}

.bg-signature__flourish {
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  animation: dash 30s 5s linear alternate infinite;
}

.bg-signature__guide {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
  animation: dash 5s linear alternate infinite;
}

.bg-signature__guide_2 {
  animation-delay: 1s;
}
.bg-signature__guide_3 {
  animation-delay: 2s;
}
.bg-signature__guide_4 {
  animation-delay: 3s;
}
.bg-signature__guide_5 {
  animation-delay: 4s;
}
.bg-signature__guide_6 {
  animation-delay: 5s;
}

.bg-signature__circle-guide {

}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}