---
permalink: "/blog/"
---

{% include "header.njk" %}

    <main class="single-page">

        {% include "breadcrumb.njk" %}

        <h1 class="h1">Blog</h1>
    
        {% include "posts.njk" %}

    </main>

{% include "footer.njk" %}