---
permalink: "/"
---

{% include "header.njk" %}    

<header class="page__title">
    <h1 class="title ">
        <span class="title__subject page__title-subject">toheeB</span>
        <span class="title__prep page__title-prep">on</span>
        <span class="title__object-product page__title-object-product">Product</span>
        <span class="title__object-design page__title-object-design">De<span class="title__object-design_step">velopment</span></span>
    </h1>
</header>

{% include "bg-sign.njk" %}

{% include "footer.njk" %}