
{% include "header.njk" %}    

{% include "nav.njk" %}

    <h1 class="title page__title">
        <span class="title__subject page__title-subject">toheeB</span>
        <span class="title__prep page__title-prep">on</span>
        <span class="title__object-product page__title-object-product">Product</span>
        <span class="title__object-design page__title-object-design">Design</span>
    </h1>

{% include "bg-sign.njk" %}

{% include "footer.njk" %}